// Mobile
nav {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  z-index: 9999;
  padding: 0;
  .logo {
    .logo-brand {
      margin: 0 20px;
      color: black;
    }
  }
  ul.nav-wrapper {
    padding-left: 0;
    list-style: none;
    display: flex;

    li{
      margin: 20px;
      a {
        line-height: 2;
      }
    }
  }
}

// burger styles
button.hamburger {
  height: 30px;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: initial;

  .bar1, .bar2, .bar3 {
    height: 2px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar1 {
    width: 30px;
  }
  .bar2 {
    width: 25px;
  }
  .bar3{
    width: 20px;
  }
}

// Desktop
@include breakpoint-768-sm {
  nav {
    background-color: transparent !important;
    position: absolute;
    .logo {
      .logo-brand {
        margin: 0 34px;
      }
    }
    ul.nav-wrapper {
      li{
        margin: 20px;
        a {
          line-height: 2;
        }
      }
    }
  }

  // burger styles
  button.hamburger {
    height: 30px;
    .bar1, .bar2, .bar3 {
      height: 2px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }
    .bar1 {
      width: 30px;
    }
    .bar2 {
      width: 25px;
    }
    .bar3{
      width: 20px;
    }
  }
}


/*
  -----Overlay New Code-----
*/

.overlay {
  position: fixed;
  background-color: rgba(255,255,255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
