// Mobile
nav {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    z-index: 9999;
    padding: 0;
    .logo {
        .logo-brand {
            margin: 0 20px;
            color: black;
        }
    }
    ul.nav-wrapper {
        padding-left: 0;
        list-style: none;
        @include display(flex);
        li {
            margin: 20px;
            a {
                line-height: 2;
            }
        }
    }
}

// burger styles
button.hamburger {
    height: 30px;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: initial;
    @include transition(all .4s ease-out);
    z-index: 9999;
    // Hover Animation
    &:hover {
        @include transform(scale(1.1));
        @include transition(all .4s ease-in);
    }
    .bar1,
    .bar2,
    .bar3 {
        height: 2px;
        background-color: #000;
        margin: 6px 0;
        @include transition(0.4s);
    }
    .bar1 {
        width: 30px;
    }
    .bar2 {
        width: 25px;
    }
    .bar3 {
        width: 20px;
    }
}

// /*
//   --Overlay--
// */
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity .35s, visibility .35s, height .35s);
    overflow: hidden;
    z-index: 9998;
    &.open {
        opacity: 1;
        visibility: visible;
        height: 100vh;
        li {
            animation: fadeInDown .5s ease forwards;
            animation-delay: .35s;
            &:nth-last-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-last-of-type(3) {
                animation-delay: .45s;
            }
        }
    }
    .overlay-menu {
        @include transform(translateY(-50%));
        position: relative;
        top: 50%;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 10px;
        padding: 10px;
        // Li Animation 
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%;
            li {
                opacity: 0;
                margin-bottom: 40px;
                margin-top: 40px;
                // Hover animation
                a {
                    position: relative;
                    @include display(flex);
                    @include box-orient (vertical);
                    @include box-direction(normal);
                    @include flex-direction(column);
                    margin: 0 auto;
                    outline: none;
                    color: #d8d8d8;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 1em;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    // Hover, Active, Focus 
                    &:hover,
                    &:focus {
                        outline: none;
                        color: #fff;
                    }
                    // hover before after main animation
                    &:hover::before,
                    &:focus::before,
                    &:hover::after,
                    &:focus::after {
                        opacity: 1;
                        @include transform(translateY(0px));
                    }
                    &::before,
                    &::after {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        content: '';
                        opacity: 0;
                        transition: opacity 0.3s, transform 0.3s;
                        transform: (translateY(-10px));
                    }
                    &::before {
                        top: 0;
                        @include transform(translateY(-10px));
                    }
                    &::after {
                        bottom: 0;
                        @include transform(translateY(10px));
                    }
                    // end main hover animation
                }
            }
        }
        // End Li Animation
    }
}

// Start Keyframes
@include keyframes(fadeInDown) {
    from {
        opacity: 0;
        @include transform(translateY(-20px));
    }
    to {
        opacity: 1;
        @include transform(translateY(0));
    }
}

// End Key Frames